@page
@model GuardWebApp.Pages.VisittimePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>از حذف مورد زیر مطمئن هستید؟</h3>
<br />
<div>
    <h4>زمان بازدید</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            عنوان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visittime.Title)
        </dd>

        <dt class="col-sm-2">
            تاریخ شروع
        </dt>
        <dd class="col-sm-10">
            @Model.Visittime.StartDate.removeYear()
        </dd>

        <dt class="col-sm-2">
            تاریخ پایان
        </dt>
        <dd class="col-sm-10">
            @Model.Visittime.EndDate.removeYear()
        </dd>

        <dt class="col-sm-2">
            ساعت شروع
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visittime.StartTime)
        </dd>

        <dt class="col-sm-2">
            ساعت پایان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visittime.EndTime)
        </dd>

        <dt class="col-sm-2">
            توضیحات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visittime.Description)
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="Visittime.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a class="btn btn-outline-dark" asp-page="./Index">انصراف</a>
    </form>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="./Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>
