@page
@model GuardWebApp.Pages.ViolationPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>از حذف مورد زیر مطمئن هستید؟</h3>
<br />
<div>
    <h4>تخلف</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            توضیحات
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.Description)
        </dd>
        <dt class="col-sm-2">
            تاریخ تایید
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.ApproveDate)
        </dd>
        <dt class="col-sm-2">
            تاریخ ثبت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.RegisterDate)
        </dd>
        <dt class="col-sm-2">
            تایید کننده
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.Approver.Name)
        </dd>
        <dt class="col-sm-2">
            ثبت کننده
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.Registrar.Name)
        </dd>
        <dt class="col-sm-2">
            اجرا
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.Run.Id)
        </dd>
        <dt class="col-sm-2">
            وضعیت
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.Status.Name)
        </dd>
        <dt class="col-sm-2">
            نگهبان
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.User.Name)
        </dd>
        <dt class="col-sm-2">
            نوع تخلف
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Violation.ViolationType.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Violation.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a class="btn btn-outline-dark" asp-page="./Index">انصراف</a>
    </form>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="./Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>