@page
@model GuardWebApp.Pages.CheckLocationPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>جدول بررسی مکان ها</h1>
<h2>مکان انتخاب شده : @ViewData["LocationName"]</h2>
<p>
    <a class="btn btn-success" asp-page="Create" asp-route-locationId="@Model.locationIdProp"><i class="fa fa-plus"></i></a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    توضیحات
                </th>
                <th>
                    بررسی
                </th>
                <th>
                    آب و هوا
                </th>
                <th>
                    زمان (های) بازدید
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CheckLocation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Check.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Climate.Name)
                    </td>
                    <th>
                        @foreach (var visittime in item.CheckLocationVisittimes)
                        {
                            @Html.DisplayFor(a => visittime.Visittime.Title)
                            <br />
                        }
                    </th>
                    <td>
                        <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section BottomPanel {
    <a class="btn btn-danger rounded-circle" href="#" onclick="quitBox();"><i class="fa fa-times"></i></a>
}
